<ion-view title="Abstract" nav-transition="none" id="page17" style="">
  <ion-content padding="true" class="has-header">
    <div id="abstract-button-bar7" class="button-bar"></div>
    <button id="abstract-button50" class="button button-positive">Day One Meetings</button>
    <ion-list id="abstract-list28">
      <ion-item class="item-avatar positive" id="abstract-list-item53" ui-sref="menu.workpage" style="">
        <h2positive>Abstract 1
          <p>8AM Rm 101</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="abstract-button-bar8" class="button-bar"></div>
    <button id="abstract-button51" class="button button-positive">Day Two Meetings</button>
    <ion-list id="abstract-list29">
      <ion-item class="item-avatar positive" id="abstract-list-item54" ui-sref="menu.workpage" style="">
        <h2positive>Abstract 2
          <p>10:15AM Rm 104</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <button id="abstract-button52" class="button button-positive">Day Three Meetings</button>
    <ion-list id="abstract-list30">
      <ion-item class="item-avatar positive" id="abstract-list-item55" ui-sref="menu.workpage" style="">
        <h2positive>Abstract 3
          <p>9:30AM Rm 106</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>