<ion-view title="Confirmation" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="confirmation-heading1" style="color: rgb(0, 0, 0);">Thank you!</h1>
    <div id="confirmation-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your report has been submitted! We will be in contact with you soon!</p>
    </div>
    <a ui-sref="menu.iSCAP" id="confirmation-button11" class="button button-positive  button-block">Back to Home</a>
    <a ui-sref="menu.lostAndFound" id="confirmation-button12" class="button button-positive  button-block">Report Another Item</a>
  </ion-content>
</ion-view>