<ion-view title="ISCAP" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <form id="iSCAP-form4" class="list">
      <label class="item item-input" id="iSCAP-textarea1">
        <span class="input-label">Welcome to ISCAP 2017</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/jAxkCIArQV7LlC0ymL1A_iscaps.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>