<ion-view title="Meals and Breaks" nav-transition="none" id="page21" style="">
  <ion-content padding="true" class="has-header">
    <div id="mealsAndBreaks-button-bar15" class="button-bar"></div>
    <button id="mealsAndBreaks-button62" class="button button-positive">Day One Meetings</button>
    <ion-list id="mealsAndBreaks-list40">
      <ion-item class="item-avatar positive" id="mealsAndBreaks-list-item65" ui-sref="menu.workpage" style="">
        <h2positive>Break
          <p>8AM Rm 101</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="mealsAndBreaks-button-bar16" class="button-bar"></div>
    <button id="mealsAndBreaks-button63" class="button button-positive">Day Two Meetings</button>
    <ion-list id="mealsAndBreaks-list41">
      <ion-item class="item-avatar positive" id="mealsAndBreaks-list-item66" ui-sref="menu.workpage" style="">
        <h2positive>Breakfast
          <p>10:15AM Rm 104</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <button id="mealsAndBreaks-button64" class="button button-positive">Day Three Meetings</button>
    <ion-list id="mealsAndBreaks-list42">
      <ion-item class="item-avatar positive" id="mealsAndBreaks-list-item67" ui-sref="menu.workpage" style="">
        <h2positive>Nap Time
          <p>9:30AM Rm 106</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>