<ion-view title="Page" style="">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col col-20"> </div>
      <div class="col col-20">Room 1</div>
      <div class="col col-20">Room 2</div>
      <div class="col col-20">Room 3</div>
      <div class="col col-20">Room 4</div>
    </div>
    <div class="row">
      <div class="col col-20">8:00</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
    </div>
    <div class="row">
      <div class="col col-20">8:25</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
    </div>
    <div class="row">
      <div class="col col-20">8:50</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
      <div class="col col-20">Add Paper</div>
    </div>
    <div class="row">
      <div class="col col-35">9:15 am End
        <div>

          <div class="col col-20"> </div>
          <div class="col col-20"> </div>
          <div class="col col-20"> </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>