<ion-view title="Panels" nav-transition="none" id="page19" style="">
  <ion-content padding="true" class="has-header">
    <div id="panels-button-bar11" class="button-bar"></div>
    <button id="panels-button56" class="button button-positive">Day One Meetings</button>
    <ion-list id="panels-list34">
      <ion-item class="item-avatar positive" id="panels-list-item59" ui-sref="menu.workpage" style="">
        <h2positive>Panels 1
          <p>8AM Rm 101</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="panels-button-bar12" class="button-bar"></div>
    <button id="panels-button57" class="button button-positive">Day Two Meetings</button>
    <ion-list id="panels-list35">
      <ion-item class="item-avatar positive" id="panels-list-item60" ui-sref="menu.workpage" style="">
        <h2positive>Panels 2
          <p>10:15AM Rm 104</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <button id="panels-button58" class="button button-positive">Day Three Meetings</button>
    <ion-list id="panels-list36">
      <ion-item class="item-avatar positive" id="panels-list-item61" ui-sref="menu.workpage" style="">
        <h2positive>Panels 3
          <p>9:30AM Rm 106</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>