<ion-view title="Paper" nav-transition="none" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <div id="paper-button-bar3" class="button-bar"></div>
    <button id="paper-button23" class="button button-positive">Day One Meetings</button>
    <ion-list id="paper-list11">
      <ion-item class="item-avatar positive" id="paper-list-item28" ui-sref="menu.workpage" style="">
        <h2positive>Paper 1
          <p>8AM Rm 101</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="paper-button-bar4" class="button-bar"></div>
    <button id="paper-button24" class="button button-positive">Day Two Meetings</button>
    <ion-list id="paper-list12">
      <ion-item class="item-avatar positive" id="paper-list-item30" ui-sref="menu.workpage" style="">
        <h2positive>Paper 2
          <p>10:15AM Rm 104</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <button id="paper-button25" class="button button-positive">Day Three Meetings</button>
    <ion-list id="paper-list27">
      <ion-item class="item-avatar positive" id="paper-list-item52" ui-sref="menu.workpage" style="">
        <h2positive>Paper 3
          <p>9:30AM Rm 106</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>