<ion-view title="Report Found Item" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <form id="reportFoundItem-form8" class="list">
      <ion-list id="reportFoundItem-list26">
        <label class="item item-input" id="reportFoundItem-input10">
          <span class="input-label">Name</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="reportFoundItem-input11">
          <span class="input-label">Phone Number</span>
          <input placeholder="" type="tel">
        </label>
        <label class="item item-input" id="reportFoundItem-input12">
          <span class="input-label">Date</span>
          <input placeholder="" type="date">
        </label>
        <label class="item item-input" id="reportFoundItem-input13">
          <span class="input-label">Time</span>
          <input placeholder="" type="time">
        </label>
        <label class="item item-input" id="reportFoundItem-input14">
          <span class="input-label">Item Found</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <a ui-sref="menu.confirmation" id="reportFoundItem-button49" class="button button-positive  button-block">Report!</a>
    </form>
  </ion-content>
</ion-view>