<ion-view title="Schedule" style="">

  <ion-content padding="false" class="has-header" overflow-x:="" scroll="" overflow-scroll="true">

    <div class="button-bar">
      <button ui-sref="menu.schedule2" class="button button-positive  button-block button-outline">Day1</button>
      <a ui-sref="menu.schedule3" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block ">Day2</a>
      <a ui-sref="menu.schedule4" class="button button-positive  button-block button-outline">Day3</a>
    </div>

    <ion-scroll direction="xy" id="map_content">
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive">Room</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">7:00 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">7:30 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">8:00 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">8:30 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">9:00 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">9:30 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">10:00 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">10:30 am</button>
        </div>
        <div class="col col-40">
          <button class="button button-dark">11:00 am</button>
        </div>


      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">101</button>
        </div>
        <div class="col col-40">
          <button class="button button-positive" ui-sref="menu.workpage">PaperPres</button>
        </div>
        <div class="col col-20">
          <button class="button button-calm" ui-sref="menu.workpage">Abs</button>
        </div>
        <div class="col col-80">
          <button class="button button-energized" ui-sref="menu.workpage">Workshop Presentation</button>
        </div>
        <div class="col col-80">
          <button class="button button-balanced" ui-sref="menu.workpage">Vendor Presentation</button>
        </div>
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">Paper</button>
        </div>

      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">102</button>
        </div>
        <div class="col col-40">
          <button class="button button-positive" ui-sref="menu.workpage">PaperPres</button>
        </div>
        <div class="col col-80">
          <button class="button button-balanced" ui-sref="menu.workpage">Vendor Presentation</button>
        </div>
        <div class="col col-20">
          <button class="button button-calm" ui-sref="menu.workpage">Abs</button>
        </div>
        <div class="col col-80">
          <button class="button button-energized" ui-sref="menu.workpage">Workshop Presentation</button>
        </div>
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">Paper</button>
        </div>

      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">103</button>
        </div>
        <div class="col col-80">
          <button class="button button-balanced" ui-sref="menu.workpage">Vendor Presentation</button>
        </div>
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">Paper</button>
        </div>
        <div class="col col-40">
          <button class="button button-positive" ui-sref="menu.workpage">PaperPres</button>
        </div>
        <div class="col col-20">
          <button class="button button-calm" ui-sref="menu.workpage">Abs</button>
        </div>
        <div class="col col-80">
          <button class="button button-energized" ui-sref="menu.workpage">Workshop Presentation</button>
        </div>


      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">104</button>
        </div>
        <div class="col col-20">
          <button class="button button-calm" ui-sref="menu.workpage">Abs</button>
        </div>
        <div class="col col-25">
          <button class="button button-assertive" ui-sref="menu.workpage">Break</button>
        </div>
        <div class="col col-80">
          <button class="button button-energized" ui-sref="menu.workpage">Workshop Presentation</button>
        </div>
        <div class="col col-80">
          <button class="button button-balanced" ui-sref="menu.workpage">Vendor Presentation</button>
        </div>
        <div class="col col-40">
          <button class="button button-positive" ui-sref="menu.workpage">PaperPres</button>
        </div>
        <div class="col col-80">
          <button class="button button-royal" ui-sref="menu.workpage">Panels Presentation</button>
        </div>

      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">105</button>
        </div>
        <div class="col col-80">
          <button class="button button-balanced" ui-sref="menu.workpage">Vendor Presentation</button>
        </div>
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">Paper</button>
        </div>
        <div class="col col-40">
          <button class="button button-positive" ui-sref="menu.workpage">PaperPres</button>
        </div>
        <div class="col col-20">
          <button class="button button-calm" ui-sref="menu.workpage">Abs</button>
        </div>
        <div class="col col-80">
          <button class="button button-energized" ui-sref="menu.workpage">Workshop Presentation</button>
        </div>

      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">106</button>
        </div>
        <div class="col col-80">
          <button class="button button-energized" ui-sref="menu.workpage">Workshop Presentation</button>
        </div>
        <div class="col col-80">
          <button class="button button-balanced" ui-sref="menu.workpage">Vendor Presentation</button>
        </div>
        <div class="col col-40">
          <button class="button button-positive" ui-sref="menu.workpage">PaperPres</button>
        </div>
        <div class="col col-20">
          <button class="button button-calm" ui-sref="menu.workpage">Abs</button>
        </div>
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">Paper</button>
        </div>

      </div>
      <div class="row">
        <div class="col col-25">
          <button class="button button-positive" ui-sref="menu.workpage">107</button>
        </div>
        <div class="col col-100">
          <button class="button button-assertive" ui-sref="menu.workpage">Breakfast - - - - - - </button>
        </div>



      </div>
    </ion-scroll>
  </ion-content>
</ion-view>