<ion-view title="Schedule" id="page16" style="">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.paper({})" id="schedule5-button15" class="button button-positive  button-block">Paper Presentations</a>
    <a ui-sref="menu.abstract({})" id="schedule5-button16" class="button button-calm  button-block">Abstract Presentations</a>
    <a ui-sref="menu.workshops({})" id="schedule5-button40" class="button button-energized  button-block">Workshops</a>
    <a ui-sref="menu.panels({})" id="schedule5-button41" class="button button-royal  button-block">Panels</a>
    <a ui-sref="menu.vendorPresentations({})" id="schedule5-button42" class="button button-balanced  button-block">Vendor Presentations</a>
    <a ui-sref="menu.mealsAndBreaks({})" id="schedule5-button43" class="button button-assertive  button-block">Meals/Receptions</a>
    <a ui-sref="menu.mealsAndBreaks({})" id="schedule5-button44" class="button button-assertive  button-block">Refreshment Breaks</a>
    <a ui-sref="menu.specialMeetings({})" id="schedule5-button45" class="button button-dark  button-block">Special Meetings</a>
  </ion-content>
</ion-view>