<ion-view title="Special Meetings" nav-transition="none" id="page22" style="">
  <ion-content padding="true" class="has-header">
    <div id="specialMeetings-button-bar17" class="button-bar"></div>
    <button id="specialMeetings-button65" class="button button-positive">Day One Meetings</button>
    <ion-list id="specialMeetings-list43">
      <ion-item class="item-avatar positive" id="specialMeetings-list-item68" ui-sref="menu.workpage" style="">
        <h2positive>Special Meeting 1
          <p>8AM Rm 101</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="specialMeetings-button-bar18" class="button-bar"></div>
    <button id="specialMeetings-button66" class="button button-positive">Day Two Meetings</button>
    <ion-list id="specialMeetings-list44">
      <ion-item class="item-avatar positive" id="specialMeetings-list-item69" ui-sref="menu.workpage" style="">
        <h2positive>Special Meeting 2
          <p>10:15AM Rm 104</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <button id="specialMeetings-button67" class="button button-positive">Day Three Meetings</button>
    <ion-list id="specialMeetings-list45">
      <ion-item class="item-avatar positive" id="specialMeetings-list-item70" ui-sref="menu.workpage" style="">
        <h2positive>The great reveal
          <p>9:30AM Rm 106</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>