<ion-view title="workpage" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="workpage-card21">
      <ion-item class="item-avatar" id="workpage-list-item49" style="">
        <h2>Default page for stuff to link to</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="workpage-list-item-container2" style="">
        <div id="workpage-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem ipsum</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="workpage-list-item50" style="">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>