<ion-view title="Workshops" nav-transition="none" id="page18" style="">
  <ion-content padding="true" class="has-header">
    <div id="workshops-button-bar9" class="button-bar"></div>
    <button id="workshops-button53" class="button button-positive">Day One Meetings</button>
    <ion-list id="workshops-list31">
      <ion-item class="item-avatar positive" id="workshops-list-item56" ui-sref="menu.workpage" style="">
        <h2positive>Workshop 1
          <p> 8AM Rm 101</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="workshops-button-bar10" class="button-bar"></div>
    <button id="workshops-button54" class="button button-positive">Day Two Meetings</button>
    <ion-list id="workshops-list32">
      <ion-item class="item-avatar positive" id="workshops-list-item57" ui-sref="menu.workpage" style="">
        <h2positive>Workshop 2
          <p>10:15AM Rm 104</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <button id="workshops-button55" class="button button-positive">Day Three Meetings</button>
    <ion-list id="workshops-list33">
      <ion-item class="item-avatar positive" id="workshops-list-item58" ui-sref="menu.workpage" style="">
        <h2positive>Workshop 3
          <p>9:30AM Rm 106</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>